body{
    background-color: aquamarine;
}

#stateName{
    margin-left: 400px;
    margin-top: 100px;
border: 1px solid red;
border-radius: 10px;
height: 50px;
width: 300px;
}
button{
    margin-left: 0px;
    margin-top: 100px;
    height: 50px;
    width: 100px;
    border: 1px solid red;
border-radius: 10px;
position: absolute;
}
#covidCard{
    position: absolute;
    left: 450px;
    top: 300px;
    border: 1px solid red;
    border-radius: 10px;

}

h1{
    margin-left: 300px;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}